@import '../utils/media_queries';

.weather-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        font-size: 2rem;
        font-weight: 100;
        margin-top: .5rem;

        @include mobileSmall{
            font-size: 1.2rem;
            font-weight: 400;
        }

        @include mobileMin{
            font-size: 1.1rem;
            font-weight: 400;
        }
    }
}